body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 0 0;
}

p {
  margin: 0 0 0 0;
}

ul {
  list-style-type: none;
  margin: 0 0 0 0;
  padding-left: 0;
}

img {
  display: block;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header .container {
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: flex-start;
}

.icon-menu {
  opacity: 0;
  pointer-events: none;
}

.header .container .nav {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  font-weight: 700;
  margin-right: 149px;
}

.menu-button {
  display: flex;
  height: 24px;
  width: 24px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.span-logo-header {
  color: #2e2f42;
}

.contacts-title {
  display: none;
}

.hamburger {
  fill: #2e2f42;
}

/* Section 1 */

.section-main {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/office-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  padding-top: 72px;
  padding-bottom: 72px;
}

.section-main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.title {
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  max-width: 496px;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  height: 216px;
  width: 160px;
}

.button {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  gap: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* Section 2 */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-us-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.about-us-item {
  flex-basis: calc((100% - 72px) / 1);
}

.icon-box {
  display: none;
}

.advantages-name {
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  width: 288px;
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 500;
  width: 288px;
}

/* Section 3 */

.section-our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  font-weight: 700;
}

.our-team-list {
  display: flex;
  border-radius: 0 0 4px 4px;
  flex-wrap: wrap;
  gap: 72px;
}

.profession-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 72px) / 1);
  width: 264px;
}

.profession-info {
  padding: 32px 0;
}

.name {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  font-weight: 500;
  margin-bottom: 8px;
}

.profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.icons-item {
  width: 40px;
  height: 40px;
}

.href-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.href-icon:hover,
.href-icon:focus {
  background-color: #404bbf;
}

.our-team-icon {
  fill: #f4f4fd;
}

/* Section 4 */

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-basis: calc((100% - 48px) / 1);
  width: 288px;
}

.img-box {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-name {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-direction: column;
  gap: 72px;
}

.footer-info {
  flex-direction: column;
}

.footer-info .logo {
  display: inline-block;
  margin-bottom: 16px;
  padding-left: 86px;
}

.span-logo-footer {
  color: #f4f4fd;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
}

.social-links-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.social-links-item {
  width: 40px;
  height: 40px;
}

.footer-href-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-href-icon:hover,
.footer-href-icon:focus {
  background-color: #31d0aa;
}

.social-icon {
  fill: #f4f4fd;
}

.social-links-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.subscribe-label {
  display: flex;
}

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.subscribe-input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  width: 288px;
}

.subscribe-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.subscribe-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 4px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 165px;
  align-self: center;
}

.subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border: none;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 584px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 72px;
  padding-bottom: 24px;
  width: 288px;
  transform: translate(-52.5%, -52.5%);
  padding-left: 16px;
  padding-right: 16px;
}

.close-button {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  left: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  background-color: #e7e9fc;
  padding: 0;
  margin-left: 224px;
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
}

.icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .icon-close,
.close-button:focus .icon-close {
  fill: #fff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  font-weight: 400;
}

.modal-div {
  position: relative;
}

.input-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  width: 100%;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 38px;
  padding-top: 11px;
  padding-bottom: 11px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within {
  border-color: #4d5ae5;
}

.modal-div:focus-within .input-icon {
  fill: #4d5ae5;
}

.modal-comment-div {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus-within {
  border-color: #4d5ae5;
}

.fieldset-two {
  display: flex;
  margin-bottom: 24px;
}

.icon-accept-border {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  margin-right: 8px;
  display: inline-flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.visually-hidden:checked + .checkbox-label .icon-accept-border {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  margin-left: 24px;
}

.send-button {
  display: block;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 44px;
}

.send-button:hover,
.send-button:focus {
  background-color: #404bbf;
}

.mobile-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
  display: flex;
}

.mobile-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.mobile-menu {
  width: 320px;
  height: 620px;
  background-color: #fcfcfc;
  border: none;
  display: flex;
  flex-direction: column;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 24px;
  padding-left: 16px;
  position: absolute;
  top: 50%;
  left: 52.5%;
  transform: translate(-50%, -52.5%);
}

.mobile-close-button {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  background-color: #e7e9fc;
  padding: 0;
  margin-left: 256px;
  margin-bottom: 24px;
}

.mobile-close-button:hover,
.mobile-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.mobile-icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-button:hover .mobile-icon-close,
.mobile-close-button:focus .mobile-icon-close {
  fill: #fff;
}

.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}

.mobile-item-one {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #404bbf;
  text-decoration: none;
}

.mobile-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-item:hover,
.mobile-item:focus {
  color: #404bbf;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-contacts {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts:hover,
.mobile-contacts:focus {
  color: #404bbf;
}

.mobile-social-list {
  display: flex;
  gap: 40px;
  margin-top: 48px;
}

.mobile-social-item {
  width: 40px;
  height: 40px;
}

.mobile-href-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-href-icon:hover,
.mobile-href-icon:focus {
  background-color: #404bbf;
}

.mobile-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
    margin: 0;
  }

  .header {
    width: 768px;
  }

  .header .container {
    align-items: flex-start;
  }

  .contacts-list {
    flex-direction: column;
    gap: 12px;
    padding-top: 16px;
  }

  .contacts {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
  }

  .section-main {
    width: 768px;
  }

  .section {
    padding-top: 96px;
    padding-bottom: 24px;
    width: 768px;
  }

  .icon-box {
    display: none;
  }

  .about-us-list {
    flex-wrap: wrap;
  }

  .about-us-item {
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 72px;
  }

  .advantages-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .advantages-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .section-our-team {
    padding-top: 96px;
    padding-bottom: 32px;
    width: 768px;
  }

  .our-team-title {
    font-weight: 700;
  }

  .our-team-list {
    flex-wrap: wrap;
    margin-left: 92px;
    margin-right: 92px;
  }

  .profession-item {
    flex-basis: calc((100% - 24px) / 2);
    width: 264px;
    margin-bottom: 64px;
  }

  .portfolio-section {
    padding-top: 96px;
    padding-bottom: 96px;
    width: 768px;
  }

  .portfolio-title {
    font-weight: 700;
  }

  .portfolio-list {
    row-gap: 72px;
  }

  .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
    width: 768px;
  }

  .footer .container {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 108px;
  }

  .footer-info {
    margin-right: 24px;
    margin-bottom: 72px;
  }

  .social-links {
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .header .container {
    align-items: baseline;
    height: 72px;
  }

  .navigation-list {
    display: flex;
    gap: 40px;
  }

  .navigation-first {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #404bbf;
    font-weight: 500;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2e2f42;
    font-weight: 500;
    padding: 24px 0;
    display: block;
  }

  .navigation:hover,
  .navigation:focus {
    color: #404bbf;
  }

  .navigation-first::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .logo {
    margin-right: 76px;
  }

  .contacts-title {
    font-style: normal;
    display: flex;
    margin-left: 332px;
  }

  .contacts-list {
    display: flex;
    gap: 40px;
  }

  .contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts:hover,
  .contacts:focus {
    color: #404bbf;
  }

  .menu-button {
    display: none;
  }

  .section-main {
    max-width: 1440px;
    padding: 188px 0;
  }

  .title {
    font-size: 56px;
    line-height: 1.07;
    height: 120px;
    width: 496px;
  }

  .about-us-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .about-us-item {
    width: calc((100% - 72px) / 4);
  }

  .icon-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
    width: 264px;
  }

  .about-us-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .advantages-name {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    text-align: start;
  }

  .advantages-text {
    width: 264px;
    font-weight: 400;
  }

  .our-team-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .profession-item {
    flex-basis: calc((100% - 72px) / 3);
  }

  .portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .footer .container {
    flex-direction: row;
    gap: 0;
  }

  .footer-info {
    margin-right: 120px;
  }

  .footer-info .logo {
    padding-left: 0;
  }

  .social-links {
    margin-right: 80px;
    padding-left: 0;
    align-items: flex-start;
  }

  .subscribe-text {
    text-align: start;
  }

  .subscribe-form {
    flex-direction: row;
  }

  .subscribe-input {
    width: 264px;
  }

  .subscribe-button {
    min-width: 165px;
  }

  .mobile-overlay {
    display: none;
  }

  .modal {
    width: 408px;
    height: 623px;
    transform: translate(-50%, -50%);
    padding-right: 24px;
    padding-left: 24px;
  }

  .close-button {
    margin-left: 336px;
  }

  .send-button {
    margin-left: 96px;
  }

  .privacy-policy {
    margin-left: 0;
  }
}

@media (min-resolution: 192dpi) {
  .section-main {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/office-img@2x.jpg");
  }
}
